<html>
<head>
    <script type="application/javascript">
        function addQuestion() {
            var form = document.getElementById("myform");
            form.action = "/questions/";
            form.submit();
        }
    </script>
</head>
<body>
<a href="/tests">View All Tests</a>
<br><br>
Here are all the Pre/Post questions

<form id="myform" action="/questions", method="post">

    <table>
        <tr><td>Del</td><td></td><td><input type="submit" name="newQuestion" value="+"></td></tr>
        <% questions.forEach(function (question) { %>
        <tr>
            <td> <%- checkbox_tag('removeQuestion',{"value": question.id}) %></td>
            <td><%= question.id %></td>
            <td> <a href="/questions/<%= question.id%>"> <%= question.descr %> </a>  </td>
        </tr>
        <% }); %>
    </table>
    <input type="submit" name="saveBtn" value="Save">
</form>
</body>
</html>